[2020-12-20 13:49] Sami-listens opened #1 "Drivers Issue in Ubuntu"
**How can a newbie run it using ubuntu as it shows the following error there (Complete trackback)**

`Traceback (most recent call last):
  File "/home/sami/.local/lib/python3.6/site-packages/selenium/webdriver/common/service.py", line 76, in start
    stdin=PIPE)
  File "/usr/lib/python3.6/subprocess.py", line 729, in __init__
    restore_signals, start_new_session)
  File "/usr/lib/python3.6/subp

[2020-12-20 15:34] Altimis commented on #1
@Sami-listens I made this code for Windows. You need to check your chrome's version and download chromedriver.exe from [here](https://chromedriver.chromium.org/downloads) for linux and drag it to the repository. Then go the the scweet.py and make a change in line 127 in the function ``init_driver`` where you need to replace ``'./drivers/chromedriver.exe'``  by the appropriate path format in linux

[2020-12-20 16:41] Sami-listens commented on #1
Thank you @Altimis , I changed the driver path to `'/usr/bin/chromedriver'` and it worked. :)

[2020-12-20 16:41] #1 closed

[2020-12-20 19:32] OmniSec001 opened #2 "Scrape all tweets from a specific account"
Can you make it so that the word is not an actual requirement if you want to scrape tweets coming from a specific account? Would be awesome for that to not be mandatory rather an extra feature.

[2020-12-20 19:38] Altimis commented on #2
Actually that's a good point. Thank you I will do it right now.

[2020-12-20 22:12] Altimis commented on #2
@OmniSec001  Done.

[2020-12-20 22:38] #2 closed

[2020-12-22 01:00] beichen1994 opened #3 "Add the instructions of proxy Settings"
I hope the Scweet can add the instructions of proxy Settings, so that I can use the Scweet in China. Thank you!

[2020-12-22 01:47] DoctorDream opened #4 "Some questons"
Thank you too much for this repository！I have spent nearly two weeks to research on how to crawl tweets with reply, but all repository like TWINT didn't work.
Do you know TWINT? I'm a developer from China. After using the proxy, TWINT still keeps reporting errors.
[code]
I saw you said that Twitter has blocked all crawlers during this period of time. Is twitter unable to use it for this reason, or

[2020-12-22 01:47] DoctorDream opened #5 "Some questions"
Thank you too much for this repository！I have spent nearly two weeks to research on how to crawl tweets with reply, but all repository like TWINT didn't work.
Do you know TWINT? I'm a developer from China. After using the proxy, TWINT still keeps reporting errors.
[code]
I saw you said that Twitter has blocked all crawlers during this period of time. Is twitter unable to use it for this reason, or

[2020-12-22 01:47] #4 closed

[2020-12-22 15:34] Altimis commented on #3
Hi @beichen1994. I just added a new argument ``--proxy`` to set the proxy. I hope this will meet your need.

[2020-12-22 15:43] Altimis commented on #5
Hi @DoctorDream, Thank you for your feedback. In fact I'm not sure that twint works these days, at least it didnt work for me and thats why I worked on Scweet. The thing that I'm sure about is that all API based scrapers dont work because they changed it to version 2. Did Scweet meet your requirements ? What should I add to improve it ?

[2020-12-23 01:26] DoctorDream commented on #5
Thank you very much for your reply, your program basically met my needs, but I also encountered a little bit of problems in the process of using.
I use Twitter crawler to collect conversations for academic research, but the timeline based structure of Twitter has caused some difficulties. In order to climb down the tweets, there may be two consecutive tweets replying to different tweets, which mak

[2020-12-23 01:30] DoctorDream commented on #5
@Altimis
Thank you very much for your reply, your program basically met my needs, but I also encountered a little bit of problems in the process of using.
I use Twitter crawler to collect conversations for academic research, but the timeline based structure of Twitter has caused me some difficulties.
When I crawl the tweets, there may be two consecutive tweets replying to different tweets, which m

[2020-12-23 01:47] Altimis commented on #5
@DoctorDream  If I understood correctly, you want to scrape replies of every tweet, is it ? like for this tweet :
![image](https://user-images.githubusercontent.com/48790841/102949430-8f1b2180-44c8-11eb-9af4-e800ddb2ce33.png)
You want to click on the comments and gather all the replies (1k7 replies) . If that's true, it may be a true challenger for Scweet. Because first, you may be required to sig

[2020-12-23 02:27] DoctorDream commented on #5
@Altimis
Yes, that's what I means.
For a tweet, I don't have to collect all the responses. I just need to collect the highly praised ones, because those replies tend to be followed by more people.
I expect to spend weeks collecting data, so the length of time it takes won't have a big impact on me.
So, is it convenient for you to implement this function?
Thank you very much!

[2020-12-23 15:33] Altimis commented on #5
@DoctorDream  I think it is possible. I'll work on that.

[2020-12-23 15:45] #3 closed

[2020-12-23 18:35] Altimis commented on #5
@DoctorDream  I have a question for you. Are you supposed to have the tweet_id of a given tweet that you want to scrape its replies ? or you want to crawl all tweets and get their replies ?

[2020-12-24 03:06] DoctorDream commented on #5
@Altimis
Thank you very much!
Actually，I just need to crawl tweets with replies to form dialogues，so i dont need to crwal tweet with specific tweet_id.

[2020-12-25 03:45] ZouTaooo opened #8 "Thanks for you work!"
I want to know what's the meaning of **to account** and **from account**.
And how can i get a tweeter user's tweet including text and the link of picture and video.
Thanks again!

[2020-12-25 03:59] okkymabruri opened #9 "Request add new feature"
Change the data features
- [x] UserName -> UserScreenName
- [x] Handle -> UserName

The below may be useful for some users. Add a feature that can retrieve from tweets
- [x] tweet-url

User information
- [ ] date user joined
- [ ] user no. of following
- [ ] user no. of followers
- [ ] user is verified?

[2020-12-25 04:20] kenanxiao0118 opened #10 "Add "location" feature"
Hi,

Thank you so much for the wonderful work! Your code is really good to use. Would you add another the tweet's "location" feature to the final csv file? That would be a great help. Thanks again!

[2020-12-25 04:23] Altimis commented on #8
Hi @ZouTaooo, Thank you.
to_account means : scrap tweets posted in response to "to_account" account.
from_account means : scrap tweets posted by "from_account" account.

Suppose you want to get @Twitter's tweets, you need to specify the ``from_account`` argument as : ``--from_account Twitter`` (you also need to specify the ``start_date`` and ``max_date`` arguments.
I just updated the code so that

[2020-12-25 05:09] Altimis commented on #9
Hi again @okkymabruri. Thank you for your feedback.
I added the tweet_url feature to the csv file. Regarding the user information, I'm afraid that those informations could be retrieved only if the ``from_account`` argument were given. Because it would be a time consuming task if the script has to retrieve user information for every tweet scraped.

[2020-12-25 05:27] Altimis commented on #10
Hi @kenanxiao0118, thank you, I'm glad that it has met your need. In fact, I think that the only way to retrieve tweets location is to "locate" to the user's profile (in case the ``from_account`` argument is not specified, which may take too long for thousands of tweets.

[2020-12-25 05:31] ZouTaooo commented on #8
I am sorry, I can't scrape anything from the below command
I am in China, when I use proxy I can't open twitter in laptop browser, but I can open it on phone.
I don't know where is my flaw.

python scweet.py --from_account "IGN" --max_date 2020-01-05 --start_date 2020-01-01
 --limit 10 --interval 1 --navig chrome --display_type Latest --lang="en" --headless True

![MK(O(F4XR6A9WLXW`GICM}7](https:/

[2020-12-25 05:39] Altimis commented on #8
Hi again @ZouTaooo. I just tried the same command as yours and it worked for me :
![image](https://user-images.githubusercontent.com/48790841/103121264-b8c87a00-467b-11eb-9093-6d9fe8db0d60.png)
I think the problem is from the proxy. How do you use twitter in your location ? if you are using poxy, you can simply specify your proxy with the ``--proxy`` argument and it will work.

[2020-12-25 06:26] kenanxiao0118 commented on #10
Hi @Altimis ,

Yeah, I guess you're right. I guess it needs to go through the user_profile for the location info, and it may not be the real location that the tweet was made at. Thanks!

[2020-12-25 12:40] ZouTaooo commented on #8
Thanks again!
 I already read your code, and I find if you want to write chinese into csv file you need to set the encoding = 'utf-8-sig',or it cause the csv file would be wrong when you use excel to open it. Just remind other people who stuck with the problem.

Your work help me a lot. Thanks!
![@H5SO30J8S4)49{(3R1T9ZG](https://user-images.githubusercontent.com/28475389/103135118-10ed9380-46f1-11

[2020-12-25 16:25] #8 closed

[2020-12-25 20:06] ElGringo275 opened #11 "Error when running scweet"
Hi,

I have an error with selenium driver when I run the app. Any idea ? Thank's a lot for your help

Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/lib/python3/dist-packages (from selenium) (1.24.1)

Traceback (most recent call last):
  File "scweet.py", line 5, in <module>
    from selenium.webdriver.comm

[2020-12-25 20:55] Altimis commented on #11
@ElGringo275 In fact, this module is not needed anyway. Youcan delet the line ``from selenium.webdriver.common.keys import Keys``. I will push the changes right away.

[2020-12-25 21:02] mayankrichu opened #12 "Followings and followers."
Hi, I've been using twint to fetch followers, followers, favorites. But it's not working there. Are you also working on it?

[2020-12-25 21:07] Altimis commented on #12
Hi @mayankrichu, Yes I'm working on it. So you want followers and following for a specific user ? or for each user for all tweets that you are scraping ?

[2020-12-25 21:30] mayankrichu commented on #12
Thanks for your reply. I just want followers and followings of specific user.

[2020-12-25 23:15] #11 closed

[2020-12-26 01:05] okkymabruri commented on #9
Okay, thanks. I think you're right. It needs more time to retrieve user information.
Actually, I need user information. but it's okay

[2020-12-26 01:05] #9 closed

[2020-12-26 01:14] okkymabruri opened #13 "max retrive 1000 tweets"
Hi @Altimis. I've tested Scweet several times in my machine (Linux OS), but I only get 1000 tweets. I think this is a limitation from Twitter. I don't know this issue in another OS.
Maybe it needs test in Windows/Mac and put  in the description that max retrieve Scweet is 1000 tweets due to Twitter limitation (I think)

my query
```python3 scweet.py --words "covid19//covid-19" --lang="id" --max_da

[2020-12-26 01:33] Altimis commented on #13
Hi @okkymabruri, I tested it personnally and I could retrieve more than 30k tweets for only 20 days (from 2020-01-01 to 2020-01-20). What arguments did you use for scraping ? did you set ``--limit 1000`` ? did you set the ``--display_type Top`` ?

[2020-12-26 01:38] Altimis commented on #13
Hi @okkymabruri , I just saw where is the problem. There is an arguement called ``--limit`` which is responsible for tweets to get for each ``--interval```. For example if you set ``start_date 2020-01-01`` and ``max_date 2020-05-01`` and you set  ``interval 30``, it means that you want to do a seach query for every 30 days interval. The default value of limit is 1000, so you can set as much limit

[2020-12-26 01:40] okkymabruri commented on #13
Ah.. okay thanks @Altimis

[2020-12-26 01:40] #13 closed

[2020-12-26 01:48] Altimis commented on #9
@okkymabruri If you are talking about retrieving followings followers ... for a specific user, I'm still working on it. But as you know, it's gonna be a big challenge for Scweet to retrieve user's information for every tweet scraped.

[2020-12-26 01:59] okkymabruri commented on #9
Sure. Thanks for it

[2020-12-28 20:40] cunnial opened #15 "Cant get code to execute = Notebook / Pycharm"
Hi Altimis, thanks a stack for putting this together, I think I will get really good use of this if I can get it to work. I fear my lack of experience probably half the problem but when I copy your code into Jupyter Lab and change the run line (data = scrap(....)) to the following:

data=scrap(max_date=2020-1-5,start_date=2020-1-1, to_account="tesla", interval=1,limit=10)

(Ive also tried using th

[2020-12-28 22:44] Altimis commented on #15
Hi @cunnial , Thank you. You can check [this notebook](https://github.com/Altimis/Scweet/blob/master/Scweet/Example.ipynb). I'm  currently working on the library, but you can work with Scweet as a module.

[2020-12-29 07:04] Altimis commented on #12
Hi again @mayankrichu. I updated the code to be able to retrieve followers and following as promised (see [notebook example](https://github.com/Altimis/Scweet/blob/master/Scweet/Example.ipynb)). Unfortunately, you must log in to be able to see such information.

[2020-12-30 01:18] #15 closed

[2020-12-30 02:01] perara commented on #12
I've done some testing, at it seems like you will be rate-limited eventually using this method. To test this you could retrieve followers and try to retrieve followers for that list of followers. I did rewrite some of this to use requests after the initial login. perhaps it works with pure selenium as that will be significantly slower?

[2020-12-30 02:57] Altimis commented on #12
Hi @perara. Indeed, you can't retrieve followers all day with the same account, since Twiiter will detect you as a robot that does not respect robot limitations (timeout...). The only solution that I see for this method is to increase the timeout parameter and, if you want to retrieve followers and following (espacially followers since there could millions of theme for the same user) for many user

[2020-12-30 12:54] cunnial opened #17 "Not an issue but thanks!"
Altimis I finally got everything working, amazing work, thank you for building this out will make my analysis 10 fold easier. I am using the CMD control as per your original usage. Some issues I encountered along the way:

"sanity check failed on NUMPY" was due to numpy package having issues with the __os check__ so jumped one version back and worked like a dream.

Great work!

[2020-12-30 14:12] cunnial opened #18 "Not collecting last batch of tweets"
Hi Altimis, been using your tool and working well. Although just noticed 2 issues:

Issue 1. The last tweet collected was the reply to the chain of tweets from the user account I am scraping rather than the chain of tweets? some images for clarity:

Twitter user with last tweet:
![Twitter User Account](https://user-images.githubusercontent.com/25256375/103356229-49ea8700-4aa8-11eb-80db-c467eb4bd73

[2020-12-30 17:41] Altimis commented on #18
@cunnial  Regarding issue 2, you should set the scraping with a headless chrome (headless = True). The problem is that when you set headless = False, you need to keep the chrome window on top, that's why I added the headless parameter.
Regarding the first issue, by tweets, I meant all the tweets the user have done in the period between start_date and max_date, including replies. To eliminate these

[2020-12-30 22:34] #12 closed

[2020-12-31 01:06] perara commented on #12
Basically, you do the initial login with selenium to get the bearer token. From here you can directly query their graphql as your browser does when scolling. Not only does this reduce the footprint of the process, it also speeds up significantly.

I got a draft locally which integrates well with your approach, ill pr, when ive tested multiple user spproach

[2020-12-31 20:15] cunnial commented on #18
Hi Altimis, regarding issue 1, that's the thing, all the tweets in those screenshots from Jam_Croissant labelled "1/x, 2/x to 6/6" weren't collected, only the last tweet in that chain which was a reply to someone else? One for next week - Happy new year and I hope 2021 brings you many success with your work!

[2020-12-31 21:26] Altimis commented on #18
@cunnial Thank you so much for your wishes. I think that the the scripts missed those tweets for the same reason as issue 2. Can you call the function one again, but this time with a headless chrome window (headless = True) ?

[2021-01-01 11:50] unkn0wn95 opened #19 "Cannot run the module"
mkdir: cannot create directory '/run/user/0': Permission denied
Scraping on headless mode.
Traceback (most recent call last):
  File "scweet.py", line 155, in <module>
    data = scrap(start_date, max_date, words, to_account, from_account, interval, navig, lang, headless, limit,
  File "scweet.py", line 22, in scrap
    driver = init_driver(navig, headless, proxy)
  File "/home/wew/Pictures/Scweet

[2021-01-01 15:57] Altimis commented on #19
Are you working on Linux ?

[2021-01-01 17:16] unkn0wn95 commented on #19
Yes

[2021-01-01 17:26] Altimis commented on #19
@unkn0wn95  add these two lines of code :

`` options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")
``
in utils.py in the line 196.

[2021-01-01 17:40] unkn0wn95 commented on #19
Different Error on different user:

(Run as normal user):
`Traceback (most recent call last):
  File "searchtweet.py", line 4, in <module>
    scrap(start_date="2020-01-01", max_date="2020-01-03", from_account = "realDonaldTrump",interval=1,navig="chrome", headless=True, display_type="Top")
  File "/home/wew/Documents/Scweet/Scweet/scweet.py", line 22, in scrap
    driver = init_driver(navig, head

[2021-01-01 17:45] Altimis commented on #19
Did you add the two lines of code above? I think the problem comes from the chromedriver installation. You can add the options above or install chromedriver manually in their uglt official website.

[2021-01-01 17:47] unkn0wn95 commented on #19
I already add it like this on line 196:

`options = Options()
        if headless is True:
            print("Scraping on headless mode.")
            options.add_argument('--disable-gpu')
            options.headless = True
        else:
            options.headless = False
        options.add_argument('log-level=3')
        options.add_argument("--no-sandbox")
        options.add_argument("--dis

[2021-01-01 17:54] Altimis commented on #19
Do you know your port number ? if so, add this :
``options.add_argument("--remote-debugging-port=<port>")

[2021-01-01 18:02] unkn0wn95 commented on #19
Done add it and it worked .Thank you Bro

[2021-01-01 18:02] #19 closed

[2021-01-02 03:07] #17 closed

[2021-01-03 19:40] the-data-mogul opened #21 "IndexError: list index out of range"
Hi, I am trying to run the **example script**:
from scweet import scrap
from user import get_user_information, get_following, get_followers

following, followers, join_date, location, website, description = get_user_information("realDonaldTrump")

print('following:'+following+'\nfollowers: '+followers+'\njoin_date: '+join_date+ '\nlocation: ' +location + '\nwebsite: '+website + '\ndescription: '+d

[2021-01-03 20:35] Altimis commented on #21
Hi. Do you have chrome installed in your system ?

[2021-01-03 20:46] the-data-mogul commented on #21
I had not installed Chrome. What a bummer!! The script works now! Thank you!

[2021-01-03 20:46] #21 closed

[2021-01-03 20:47] Altimis commented on #21
@the-data-mogul  Hhahha, it's ok. It heppens.

[2021-01-04 16:46] manuc95 opened #22 "Not collecting some fields in the CSV"
Hi, thank you very much for this exceptional code!!

I just found a little problem, can you help me to understand if I'm missing something?

In the output CSV, I found all the information except for the followings:
- 'Emojis' : emojis existing in tweet
- 'Comments' : number of comments
- 'Likes' : number of likes
- 'Retweets' : number of retweets

[2021-01-04 16:59] Altimis commented on #22
Hi @manuc95. Thank you !
I think the reason behind this is that the tweets that you scraped have neither likes nor comments and retweets, maybe they also have no emojis. I just tried it my self and it gave me these results :

![image](https://user-images.githubusercontent.com/48790841/103559387-56128200-4eb6-11eb-9243-03ba801e214e.png)

I recommande you to scrape data for a large period of time to

[2021-01-04 17:06] manuc95 commented on #22
oops I'm sorry it's right.. and it's working correctly!
I just found something like 20 tweets without any likes or comments, bad luck ahah

Just a small thing for your code: the default value for Lang is "en" instead of None. Maybe it could be not clear for somebody

Moreover, I'm making a code to scrap both tweets and user information of the user that made the tweet. Just let me know if it could

[2021-01-04 17:18] Altimis commented on #22
@manuc95
Yes it's true, I just changed the default value of ``lang`` as ``None``.
Your code sounds interesting. In fact, Scweet enable you to scrape tweets and the corresponding information, but it can only scrape information of a specific user (not every user of each tweet scraped as you said). So your solution could be useful in this code, I would be appreciated for it.

[2021-01-06 02:00] reachyou91 opened #23 "Importing the module"
Hi, Thank you for your effort.

I am a beginner trying to use your module in Google Colab with the example you provided but it failed. I installed your module either by git cloning or by pip command. It seems the package installed with the name of 'Scweet' (capital letter) but still I cannot import the scrap. Could anyone please let me know how to successfully import it? Thanks in advance.

![imag

[2021-01-06 07:55] Kittyuzu1207 commented on #23
I encountered the same, and I used "from Scweet.scweet import scrap" to solve it. After that, there may be other errors about utils.py and const.py, you can enter these files and modify the code "import utils" by "import Scweet.utils" etc. and it can work well.

[2021-01-06 11:08] Kittyuzu1207 opened #24 "Found 0 following when crawling following information"
Hi, thanks for your excellent tool! I met a problem and want to know how to solve it. When I crawl following list of users, after I got info of 5 accounts, I only get "Found 0 following" for remaining users, whose following lists are actually not empty. I set the "wait" param as 3, and I even wait for 20s after crawling several users. The username and password can be normally used in the webpage o

[2021-01-06 11:28] Kittyuzu1207 commented on #24
Also, it sometimes mention"error with: xxx", still can get nothing.

[2021-01-06 12:22] Altimis commented on #23
I recommande you clone the project and use the sample notebook. There is just a beta version of the library and actually there are a lot of problems with it.

[2021-01-06 12:27] Altimis commented on #24
Hi, thank you.
Actually I've never tried to scrape the followers of that much users before. I think the problem here i duo to the account you are using. I think Twitter have banned your account and you cant get access to user followers/following anymore. I'm working on a better method to scrape these kind of information (the accurate wait parameter to use ... ).

I guess one solution might be to c

[2021-01-06 12:45] Kittyuzu1207 commented on #24
Hi, thank you for reply. When logging in the webpage of Twitter, the account works normally. I may register another account and retry it.

[2021-01-07 00:44] reachyou91 commented on #23
Thank you. However, after I import utils and const as you mentioned, I encounter "SCWEET_USERNAME returned None but this is not allowed!"

[2021-01-07 00:45] reachyou91 commented on #23
Thank you for reply. I cloned the project on the notebook but it generates the same error I mentioned above.

[2021-01-07 00:49] Altimis commented on #23
After cloning, you need to locate to the repository to be able to use the scweet module. When you cloned it, you tried to call directly the scweet module, but it is not in your path since there still are a lot of issues in the library, so you need to locate manually to the directory of the project and call the above functions (I recommend you open the sample.ipynb file and use it as your notebook)

[2021-01-07 20:03] reachyou91 commented on #23
I see. Thank you for your kind explanation!

[2021-01-07 20:03] #23 closed

[2021-01-10 00:55] hqztrue opened #25 "The examples need to be updated..."
because the @realDonaldTrump account was permanently suspended by twitter.
![1](https://user-images.githubusercontent.com/11583428/104111780-0b28ae00-52ac-11eb-9aba-d71a97f98651.png)

[2021-01-10 08:33] ZouTaooo opened #26 "I find a bug"
When you search followers or following you should use set to store the result, not the list, or you will get the wrong result.
Because you repeat some information.

Just change the **follows_elem = []** to **follows_elem = set()**, maybe you can find other solutions.

[2021-01-10 19:33] #25 closed

[2021-01-11 00:58] cunnial commented on #18
HNY Altimis!

This has worked great. I also changed the tweet type to Latest and getting all the right information now.

Great work! Ticket closed from my end!

[2021-01-11 14:15] Altimis commented on #18
HNY @cunnial,

Happy for you ! In fact, I forgot about the ``Display_type`` parameter.

[2021-01-11 14:15] #18 closed

[2021-01-11 14:16] #10 closed

[2021-01-11 14:17] #22 closed

[2021-01-11 23:36] manuc95 commented on #22
Hi Altimis, sorry for the delay but I had other stuff to do before finished this code. I hope that the following could be useful for someone!

At the moment, it is working only for simple researches (eg. Trump Election) and not for particular ones (eg. Trump//Election)
But the logic of the code is working, it is just a matter of correctly read/rewrite the name of the CSV made in the first step

I

[2021-01-12 08:06] TheMulti0 opened #28 "Add as a package to pypi"
Great library, should be on pypi

[2021-01-13 01:05] Altimis commented on #28
There is already a beta version of the package, I need to add some additional features before lunching the first completed version of it.

[2021-01-13 01:05] #28 closed

[2021-01-13 01:06] Altimis commented on #26
Thank you @ZouTaooo. I fixed this issue.

[2021-01-13 01:06] #26 closed

[2021-01-13 01:08] Altimis commented on #24
Hi @Kittyuzu1207 , I think i solver this issue by updating the ``get_followers`` and ``get_following`` function to ``get_users_followers`` and ``get_users_following``. You can check the example notebook.

[2021-01-13 02:25] Kittyuzu1207 commented on #24
Hi, thank you for this update! I had the same idea so I have already modified the source code so that I only need to log in once and get following of many users. It's nice of you to make this public. : )

[2021-01-13 02:26] #24 closed

[2021-01-15 15:20] guilherme-sal opened #29 ".env credentials format"
Hi Altimis, thank you for your effort!

The script is running smooth in my machine. The only exception is the get_users_following and get_users_followers functions.

I create a .env file in the main directory, inserted my username and password but still couldn't return user's followers or following.

I am not sure which format for the credentials I should use in the .env file. Can you help me?

Th

[2021-01-15 16:51] Altimis commented on #29
Hi, thank you @guilherme-sal.

here is an example
![image](https://user-images.githubusercontent.com/48790841/104755084-4c143d00-575a-11eb-80e3-f44ffdb645f5.png)

[2021-01-15 17:52] guilherme-sal commented on #29
Thanks! I did that and restarted kernel. Now everything is working fine!

[2021-01-15 17:52] #29 closed

[2021-01-16 03:05] PanXinglin opened #30 "didn't get all of the tweets"
Thank you so much for this repository！But I met up with a problem.
I try to run  `scrap(start_date="2020-01-11", max_date="2020-01-16", words = "tesla",interval=1, headless=True, display_type="Top", hashtag=None)`
you know, there are thounds of tweets about tesla each day, but I got only 360+ tweets from "2020-01-11" to "2020-01-16".
Could u help me please? Thanks a lot!

[2021-01-16 05:13] the-data-mogul opened #31 "Request to add the Location feature based on Latitude / Longitude or Zipcode"
Hi,

Is it possible to replicate the location function (from Twint)? Or is that not possible because of the upgrades made by Twitter?

Thank you!

[2021-01-16 06:08] PanXinglin commented on #30
I tried again without headless mode. I found :
![image](https://user-images.githubusercontent.com/53027709/104798720-f85e2e00-5803-11eb-9e11-0abfaa16e2f2.png)
this situation has ever taken place when I try to directly get this page using selenium, because javascript doesn`t work

[2021-01-16 13:20] Altimis commented on #30
@PanXinglin  Yes it's normal. You set the ``display_type`` parameter as Top and not Latest. Top shows only top tweets, but latest shows all the tweets starting from the latest ones.

[2021-01-16 13:23] Altimis commented on #31
@the-data-mogul  I'll see about that.

[2021-01-16 13:33] Altimis commented on #31
@the-data-mogul can you specify the exact file where the location function exists in twint project ?

[2021-01-18 07:43] pioneer0317 opened #32 "No Module named scweet"
Hello, thank you very much for the repository!
I'm having an issue with importing scweet.
I've successfully installed it, but the module is not found.
Do you have any idea how to solve this problem?
Thank you for your help!

![issue](https://user-images.githubusercontent.com/62918674/104885831-8974f800-591d-11eb-91fb-b3c759895993.JPG)
![issue2](https://user-images.githubusercontent.com/62918674/10

[2021-01-18 16:49] Altimis commented on #32
There are sill some bug in the beta version of the library, you can clone the repo and work with it locally instead.

[2021-01-18 18:45] pioneer0317 commented on #32
I tried cloning the git to my local workspace, but it gives me the same error... Do you have any other suggestions or anything to point out that I might be doing something differently here?

[2021-01-18 22:38] DiweenHawezy opened #33 "Username case sensitive"
Is it possible to remove case sensitivity in the user search ? I tried using .casefold() in user.py but didn't get very far.

For example, for the username 'user'. this won't work if the twitter handle is @User. I have a large database of usernames but it is all in lowercase.

Thank you for your time.

[2021-01-19 00:00] Altimis commented on #33
Hi @DiweenHawezy,
Please check the changes, the issue is solved.

[2021-01-19 00:25] DiweenHawezy commented on #33
Thanks !

[2021-01-19 00:25] #33 closed

[2021-01-19 02:00] DiweenHawezy opened #34 "Join Date and Birthday Mixed up"
Hi,

if the username has a birthday presented on the profile, this is scraped instead of the join date.

Regards,

[2021-01-19 06:31] cjmling opened #35 "Any reason why not use &f=live for latest tweets?"
I see you visit the url first then click to latest tweet button based on the display_type.

You can simply append &f=live into the url for latest tweet right?

[2021-01-19 06:43] cjmling opened #36 "display_type depend on lang"
Related to https://github.com/Altimis/Scweet/issues/35

if you set `lang` to other than "en", `driver.find_element_by_link_text(display_type).click()` won't work right? because the test displayed for Latest and Top will be different

[2021-01-19 08:28] Altimis commented on #36
Hi @cjmling, Actually you are right ! thank you. I'll do it

[2021-01-19 08:42] Altimis commented on #34
Can you please provide me with a username example that has birthday presented on their profile ?

[2021-01-19 11:41] DiweenHawezy commented on #34
Here is one example:

"geceeekusuu"

[2021-01-19 12:22] DiweenHawezy commented on #34
For this account, the join date is not picked up:

@HalimSaskin

[2021-01-19 12:25] Altimis commented on #34
@DiweenHawezy  thank you for making these tests, I'll make some changes soon.

[2021-01-19 14:43] Altimis commented on #34
@DiweenHawezy  check the changes.

[2021-01-19 14:47] #35 closed

[2021-01-19 14:48] #36 closed

[2021-01-19 16:54] DiweenHawezy commented on #34
Thank you.

[2021-01-19 16:54] #34 closed

[2021-01-20 09:40] francisbautista opened #37 "NoSuchElementException on get_users_following()"
I'm trying to run the Example.ipynb file and I'm encountering this error once I try to run the get_users_following code cell.

![image](https://user-images.githubusercontent.com/1830534/105156070-53ff2300-5b46-11eb-97c8-753f2093ae6c.png)

I've adjusted my .env file to reflect an active Twitter account already. Any ideas on what I should debug? I'm running this on Python 3.9 on a Jupyter notebook.

[2021-01-20 10:07] francisbautista commented on #37
Did some debugging, it seems that it works if I specify the username to be `NAgouzil`, but if I use the default one provided in the notebook, it returns the error. It seems that the **href** element has to match the exact current username of the profile to be scraped.

[2021-01-20 10:38] #37 closed

[2021-01-22 13:35] DiweenHawezy opened #38 "Join date not picked up if location contains an emoji sometimes"
Unsure about this, but a few accounts some with emojis in the location result in the join date not being picked up.

@akduluneda
@x_born_to_die_x
@av_ahmet
@pabu232

[2021-01-22 16:49] #38 closed

[2021-01-22 16:49] Altimis commented on #38
@DiweenHawezy Check if it works now

[2021-01-23 13:52] XXXholics opened #39 "What should I do if I just want to catch the information according to 'keyword' without 'from_account'"
I am looking for some hot spot content on Twitter, and I want to analyze how one hot spot grows. But it seems that I can only search information within the 'from_account' I give.

I really want a function to do global search without the limitation of 'from_account'. Could you help me?

[2021-01-23 14:17] Altimis commented on #39
You can use ``words`` parameter to search for specific words (its type is ``list``). Is this what you need ?

[2021-01-23 14:19] #30 closed

[2021-01-23 14:29] XXXholics commented on #39
Thank you for your kind reply!

[2021-01-23 14:34] XXXholics commented on #39
However, I met another problem.
I didn't change your code, but I can't import this module into the Jupyter, I mean I can't use the Example.ipynb provided in the project, but I can successfully use cmd to run ">python scweet.py --words "tesla" --start_date "2020-01-11" --max_date "2020-01-16" --interval 1 --headless True --display_type "Top""

If I use Jupyter, it will say  SCWEET_USERNAME returned

[2021-01-23 16:16] Altimis commented on #39
@XXXholics  check the changes that I made.

[2021-01-24 03:35] XXXholics commented on #39
Thank you so much! I figured out all these questions! Thanks for your contribution!

[2021-01-25 02:18] #39 closed

[2021-01-26 03:37] cjmling opened #40 "Already split above"
https://github.com/Altimis/Scweet/blob/d5402285e2b51704d490f2b2c46abd106ede92f8/Scweet/scweet.py#L39-L40

[2021-01-26 07:40] cjmling opened #41 "Fix single word"
If words contain only single word such as words = ("John")

It become `(J%20OR%20o%20OR%20h%20OR%20n)%20`

https://github.com/Altimis/Scweet/blob/d5402285e2b51704d490f2b2c46abd106ede92f8/Scweet/utils.py#L150

[2021-01-26 22:59] Altimis commented on #40
Yes, thank you

[2021-01-26 23:58] cjmling opened #42 "ModuleNotFoundError: No module named 'utils' . Use import by relative path to fix?"
I clone the repo into the directory as structured.

![Screenshot_134](https://user-images.githubusercontent.com/1612187/105921991-4bd64480-606c-11eb-8d87-405056c26208.png)

In my main.py I imported `scrap` but it will throw error.

[code]

The code on that line is
[code]

If I edit then import by relative such as will fix the issue

[code]

Similarly in utils.py
`import const` to `from . import co

[2021-02-01 11:16] agnesmm opened #43 "--hashtag is missing from the command line argument"
It seems to me that there is a small omission, while --hashtag is used as a command line argument in the README file, it is not parsed in the file scweet.py :
`parser.add_argument('--hashtag', type=str, help='Hashtag', default=None)
hashtag = args.hashtag`
should be added and used in the call of `scrap()`

[2021-02-03 09:56] shantanukul opened #44 "User profile tweets not captured"
Hello,

Thank you for the tool. I am a research student working with Twitter data. For my research, I am trying to scrape data from user profiles. Unfortunately due to Scweet pulling data from the search tab instead of the actual user profile, I am only able to capture 1/10th of the tweets. Is there some way to make it scrape data from the user profile itself?

Thank you in advance!

[2021-02-05 18:19] #42 closed

[2021-02-05 18:30] Altimis commented on #43
Yes true, thank you

[2021-02-05 18:30] #43 closed

[2021-02-09 02:22] LangInteger commented on #32
To the directory where `scweet.py` file exists, in the root of the SCWEET project, execute

- cd Scweet

and execute your own python file here, the `from scweet import scrap` shall work

[2021-02-09 02:51] LangInteger opened #45 "Twitter search not work via scweet with selenium"
My Code:
[code]

Run the code in non-headless mode, I can see that there is an error got when searching:
![image](https://user-images.githubusercontent.com/17768055/107309052-b18eeb80-6ac4-11eb-89f1-4cc3d8fd7344.png)

But if I run the query from https://twitter.com/search manually, everything works fine:

![image](https://user-images.githubusercontent.com/17768055/107309101-c79cac00-6ac4-11eb-910e

[2021-02-09 02:54] Altimis commented on #45
I guess the problem comes from the proxy you are using

[2021-02-09 02:56] LangInteger commented on #45
Make sense, but hard to debug. thx

[2021-02-09 03:00] Altimis commented on #45
@LangInteger  did you try other proxies ? If you are from China, I know many people who used scweet even without proxy.. So I dont know honestly how we could resolve this issue

[2021-02-09 03:04] LangInteger commented on #45
Yeah, from mainland China.

Without proxy set, I will get an error when accessing twitter:

![image](https://user-images.githubusercontent.com/17768055/107310010-7db4c580-6ac6-11eb-8c24-f25cc2cc8cb2.png)

When with proxy, at least twitter is opened, I'll try other methods and feedback if find something new.

[2021-02-09 03:14] LangInteger commented on #45
![image](https://user-images.githubusercontent.com/17768055/107310693-e05a9100-6ac7-11eb-98f1-9e5e2542ad41.png)

It's weird that got http code 401.

[2021-02-09 03:17] LangInteger commented on #45
![image](https://user-images.githubusercontent.com/17768055/107310848-30395800-6ac8-11eb-905b-6b6a0afbd40e.png)

If I access twitter.com from Chrome window opened by selenium, I'm forced to log in and can access twitter after that. So maybe twitter find some potential risk in my access and some security strategy makes it do so.

[2021-02-09 04:19] LangInteger commented on #45
Finally, I have to set my twitter username & password in the .env file and everything works fine.

I made a mistake in the earlier statement that I can access twitter.com manually is because I have login twitter several days before.

[2021-02-09 04:19] #45 closed

[2021-02-09 09:26] LangInteger opened #46 "The best to way to handle twitter's search error?"
[code]

I'm using this code to query tweets about `fosun pharma` during the year 2020.

The operation works amazingly but when things get to some threshold, like after a consistent query of 120 days, Twitter will refuse to offer the result and shows a search error.

![image](https://user-images.githubusercontent.com/17768055/107343078-f6824480-6afb-11eb-830f-db081d23f179.png)

I split my query int

[2021-02-09 11:20] topliftarm opened #47 "problem in following"
hi, thank you very much for your tools.

unfortunately i can not scrap following
this is my error :

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[contains(@href,"/following")]/span[1]/span[1]"}
  (Session info: headless chrome=88.0.4324.150)

best regards

[2021-02-09 14:57] LangInteger commented on #47
You can set `headless=False` to see all operations on chrome, and check if the page search as you set. If some strange things happen on the page, they may be the cause of the error.

[2021-02-09 16:19] topliftarm commented on #47
Yes, when i set headless=False, chrome opened and target account is shown but this problem shown in terminal again:
NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[contains(@href,"/following")]/span[1]/span[1]"}
(Session info: headless chrome=88.0.4324.150)

when manually clicked on followers or following , login page shown and ...

[2021-02-10 01:07] LangInteger commented on #47
I'm not that clear about Scweet's behaviour on this fuction. Here is,my suggestion.

As described in readme file of this project, access user file may need Twitter account to login as a pre-requisite. You can put yours in.env file to see if the problem get solved.

[2021-02-10 11:27] LangInteger commented on #46
Try again with `resume=True` works fine.

[2021-02-10 11:30] #46 closed

[2021-02-15 18:22] leddy231 opened #48 "Argument to exlude embeded/reply text"
https://github.com/Altimis/Scweet/blob/87138a4b3dd3a67c7de024b1051d3027832f6013/Scweet/utils.py#L53

Currently, this line concatinates the text with the embeded text in the tweet. This happens for replys, wich could be usefull, but also for all embeded text, from linked websites/videos/etc

We are using this tool to scrape swedish data, and I found it usefull to change this line to not inlcude the

[2021-02-24 02:53] Altimis commented on #48
Hey, sorry for the late response. You are right, I will separate them and add an embedded column to the csv file.

[2021-02-24 03:01] #48 closed

[2021-02-24 03:03] Altimis commented on #44
Hello, I'm sorry for the late response. It is possible but I need to change the code for it. I think that the reason behind the 1/10th is the display_type argument which should be 'latest' instead of 'top'

[2021-02-24 15:47] omegaresearchfoundation opened #49 "ImportError: attempted relative import with no known parent package"
Hi

Wondering if you could help with the following. When executing the script I get the following Import Error:

File "scweet.py", line 9, in <module>
from .utils import init_driver
ImportError: attempted relative import with no known parent package

Thanks

[2021-02-24 15:48] Altimis commented on #49
Can you use the notebook instead ? I'm working on the library right now so I'm trying to fixe this issue. Thank.

[2021-02-24 15:53] Altimis commented on #49
If you really want to work with the CLI, I recommend you go to scweet.py and change the line 9 from ``` from .utils import init_driver``` to ``` from utils import init_driver```. There could be aother changes to do similar to this in the other files

[2021-02-27 19:10] maivierzhent opened #50 ""from_account=" function returning tweets posted by other accounts"
Thanks for developing this very useful scraper!
I used the from_account function but were still receiving tweets posted by other accounts that are replying to them. How to fix this?
Also, I am trying to scrape the tweets posted by specific accounts, not their responses to others. Is there a way to filter them out?

Thank you for your help!

[2021-02-27 19:28] Altimis commented on #50
Hi @maivierzhent, thank you. Yes you can set the parameter ``filter_replies=True`` to filter the replies.

[2021-02-27 19:35] maivierzhent commented on #50
I did, but the returned data still included the replies. Could you please help me see how to fix the following code? Thank you!

data = scrap(from_account="@SouthwestAir",start_date="2020-4-1", max_date="2020-4-3", interval=1, lang="en",
      headless=True, display_type="Top", save_images=False, resume=False, filter_replies=True)

[2021-02-27 19:43] Altimis commented on #50
There was a typo error in the utils file. Check if it works now please.

[2021-02-27 20:10] maivierzhent commented on #50
working now! Thank you so much!!

[2021-02-27 20:10] #50 closed

[2021-03-23 13:52] ratriik commented on #31
Thankyou very much for this repository. I've been searching how to scrape tweet in certain date then I found this, it really helps a lot!
Btw, is there any ways to filter tweet based on location using Scweet? Sorry, I'm kinda new. Thankyou.

[2021-03-23 19:07] lizhouf opened #51 "Scweet doesn't work now (but I used it weeks ago)"
Hi,

When I try to use Scweet to scrap today, it doesn't work - it always works before, at least weeks ago it worked. I also tried the example jupyter notebook, which also doesn't work. No matter what query I used, the reply is simply scroll 0 scroll 1 and then move on to the next date. And nothing is stored into the data object.

I'm wondering if Scweet now becomes somehow masked by Twitter or if

[2021-03-26 03:48] BradKML opened #52 "Documentation regarding Twint and "dead libraries""
Take a look at https://github.com/5hirish/tweet_scrapper#features and see if Scweet covers the information.
Also As a side note, do some comparison with https://github.com/twintproject/twint about missing features.

[2021-03-26 03:51] BrandonKMLee opened #53 "Packaging Scweet as a Conda or Pip library"
Since Twint already has that covered, why not allow Scweet to be accessible as well?
Take a look at https://pypi.org/
Observing https://github.com/Altimis/Scweet/blob/master/setup.py exists, the **documentation could be changed**

[2021-03-26 04:12] BradKML opened #54 "Search or Get Following/Followers by User ID"
This is one of the features https://github.com/rishi-raj-jain/twitterUsernamefromUserID provides.
I would hope that @rishi-raj-jain can help this library out by integrating the username-to-id feature into this library.

Utility:
- some datasets provide a list of users in ID format instead of handles, to prevent heavy name and avatar changes.
- inversely, Scweet currently only scrape usernames by h

[2021-03-26 04:52] BrandonKMLee opened #55 "Utils are unusable"
Since there is no package install function, I tried to put the whole folder in with the main directory of the ipynb.
`following = get_users_following(users=temp, verbose=0, headless = True, wait=1)`

[code]

[2021-03-26 05:02] BradKML opened #56 "Experimental: Recursive Following (AKA Friend) Tree Function"
As demonstrated in the repos below, recursive graph mining of Twitter (following AKA friends) is doable under API
- https://github.com/narendraj9/digsep
- https://github.com/irrational-Pi/SixDegreesOfSeparation
- https://github.com/jvallyea/Mapping-Social-Media

However, to do this without API may be tricky, as there needs to be a breadth-first search function that prevents repeated scraping.
As d

[2021-04-12 03:26] BradKML opened #57 "Documentation: Get User Bio and link by name/UserID"
This feature is not well explained in the documentation. Data needed:
- [ ] Current user name (the `@name`)
- [ ] Current user handle (the title above `@name`)
- [ ] Bio text
- [ ] Hyperlink
- [ ] Born/Join Date
- [ ] User ID (see https://github.com/Altimis/Scweet/issues/54)

[2021-04-12 03:34] BrandonKMLee commented on #53
- https://www.freecodecamp.org/news/build-your-first-python-package/
- https://www.programiz.com/python-programming/package
- https://www.pythoncentral.io/how-to-create-a-python-package/
- https://towardsdatascience.com/how-to-open-source-your-first-python-package-e717444e1da0

[2021-04-12 03:58] BrandonKMLee commented on #55
This is definitely related to https://github.com/Altimis/Scweet/issues/53
Try running this in a Conda Python Notebook, and they refuse to work without opening the pack.
[code]

[2021-04-12 06:57] BrandonKMLee commented on #55
Shoutout to @fmarchenko for some help because this is not pleasent.

[2021-04-21 01:23] Altimis commented on #53
Done. Thank you Brandon.

[2021-04-21 01:23] #53 closed

[2021-04-23 09:11] BrandonKMLee opened #58 "User Profiles of Twitter"
Observing https://github.com/bisguzar/twitter-scraper/blob/master/twitter_scraper/modules/profile.py
Having Profiles would be useful.

[2021-04-23 09:19] #58 closed

[2021-04-23 10:16] BradKML opened #59 "Issue: create a command or Python function to write account data into the .env file"
Observing https://github.com/Altimis/Scweet/blob/master/Example.py#L33 it uses https://github.com/Altimis/Scweet/blob/master/.env to login and ger follow info. However, dotfiles are more likely to be inaccessible from some OS, e.g. Windows. Therefore it would be useful to have a terminal function to allow for the writing of data into the file, or from a Python function call, generate the dotfile f

[2021-04-23 10:24] BradKML opened #60 "Give warnings when the Embed is "sensitive""
Currently, if you are not logged in some embeds with sensitive content (e.g. news) will show up, after scraping as
`'The following media includes potentially sensitive content. Change settings\nView'`
There should either be a warning that the scraper is not logged in OR that the "View" button is clicked to scrape the data.

[2021-04-23 21:31] abhi5154 opened #61 "Less number of tweets for more historic data."
The last 7-8 days of a topic has nearly four times the number of tweets compared to more distant history.
Is there a reason for that?

[2021-04-23 21:44] Altimis commented on #61
Did you set display_type  as Top or Latest ?

[2021-04-23 21:50] abhi5154 commented on #61
display_type is Top

[2021-04-24 00:18] princeofstacking commented on #61
@abhi5154  are the tweets being stored in the data for you?

[2021-04-24 03:53] Altimis commented on #61
set it as Latest and it will work for you. Top means that you are scraping only top tweets in terms of likes and retweets.

[2021-04-24 03:55] Altimis commented on #61
I know what you are talking abou, I forgot to set a path variable for saving the csv file in the case of library. You can clone the repo and scrap using the notebook and you will find the file in output directory. I will update the library

[2021-04-24 14:11] #61 closed

[2021-04-26 20:37] princeofstacking commented on #51
the code for keywords works, but not really the hashtag one.

[2021-04-26 21:03] princeofstacking opened #62 "not scrapping anything!"
it just scrolls and is unable to find anything using both keywords and hashtags. No is extracted from twitter.

[2021-04-27 07:54] agarwal-nitesh opened #63 "TimeoutException!"
File "***/Scweet/venv/lib/python3.7/site-packages/selenium/webdriver/support/wait.py", line 80, in until
    raise TimeoutException(message, screen, stacktrace)

[2021-04-29 00:35] anhagape opened #64 "is there any ways to watch the new follower/following?"
Let's say I run` get_users_followers` once!
is there any ways to watch the new follower of a specific account? tks

[2021-04-29 07:38] Altimis commented on #62
Copy the link of the search and past it in your browser to see if it works.

[2021-04-29 22:28] monstertony commented on #62
You need to set headless and proximity both to True

[2021-04-29 22:48] Altimis commented on #62
Proximity has nothing to do with that. I guess he needs to set a proxy... Anyways I need to see if he can access twitter manually with the same parameters (same dates, keywords...)

[2021-04-29 22:53] monstertony commented on #62
I know, I tried copy the link. It doesn't work for me, the page says has no results. So I set these two to false, it worked. Just find the easiest way to fix, not the right way........

[2021-04-29 22:56] Altimis commented on #62
Ah then in your case, there were no tweets with such keywords at your proximity (your country or city). This is true if you set proximty to false.

[2021-04-29 22:58] monstertony commented on #62
Ah, that's why. Thanks anyway! Very nice project!

[2021-04-30 00:47] #64 closed

[2021-05-02 13:12] AleksandrovichK opened #65 "It doesn't scrap anything."
Hey guys!

I tried to reproduce just the same code as you use in examples:
[code]

After running the code, the variable `users_info` contains `None`.

Yet I tried this:

[code]
And the variable data contains empty dataframe.

Maybe I'm doing something fundamentally wrong?

-----------------------------------

My platform: **MacOS Big Sur**
A version of Scweet: **1.0**

[2021-05-06 04:14] thezakman commented on #29
Weird, i tried to login in my bot account and didn't work.
Any ideas why?

[2021-05-06 04:25] Altimis commented on #65
Hi, sorry for the late response. First of all, set ``interval`` with a value smaller than or equal to the period of time you want to scrap (1 in your case). Seconde, what does the code print while scraping ? Is there somethin like "Tweet... Found .." ?
For the case of user_info, you need to set your credentials first.

[2021-05-06 16:58] AleksandrovichK commented on #65
Hey @Altimis ✌🏻
Thanks for the suggestion, I decreased the interval down to 1. Unfortunately, the result is still `None`. But yeah, it outputs something.

[code]

Outputs:
[code]

Checking the data variable:

`print(data)`

Outputs:
[code]

[2021-05-06 17:45] AleksandrovichK commented on #65
Okay so it appears to be I started to figure out what's wrong

First of all, I have switched off headless mode (so I can see the browser).

1. If I specify `promixity=True` then Twitter doesn't show anything in the search bar. So there is something wrong with the request in the address bar.

2.  If I choose to run **WITH** `headless` mode, then I have:
[code]

But when I choose **WITHOUT** `headle

[2021-05-11 00:54] lbedner opened #66 "Example using `Scweet` as a library doesn't return result"
I am using the sample code from the Jupyter notebook:

[code]

Here are the logs:

[code]

AS you can see, no results are returned. I also tried the following:

- changing some of the arguments, like setting `proximity=False`, to no avail
- I took the URL's that are spit out in the logs, and they return results

Please advise.

[2021-05-11 03:05] thezakman opened #67 "Sometimes you don't need the date to scrape, add this option."
If I want to scrape something to acquire more results without the "**until**" and "**since**" filters I cannot, because of the way you did the query. I manage to bypass this, editing the quering and adding a condition, this should be a default option. no?

[2021-05-12 21:38] Altimis commented on #66
Set proximity=False

[2021-05-13 14:48] Prem-Mishra007 opened #68 "scraping followers/following also includes "who to follow" users"
While scraping followers/following it also includes the "who to follow" users

[2021-05-15 13:42] AleksandrovichK commented on #65
I'm sorry, any updates?
@Altimis

[2021-05-15 13:44] aseifert commented on #65
I have the same issue, it works only with `headless=False`

[2021-05-20 11:19] BradKML opened #70 "Applying Visualization to Scweet"
Twint is screwed RIP but Scweet can be visualized/searched with follow/friend data, and reply/retweet data.

reference: https://github.com/twintproject/twint-explorer https://github.com/twintproject/twint-search

[2021-05-20 11:23] BrandonKMLee commented on #57
Someone JS-hacked a tool to get ID https://github.com/bisguzar/twitter-scraper

[2021-05-27 07:00] Hanny12345 commented on #63
I also met this problem when I run the twint, have you already solve it? I met this problem when I run scweet... Would you kindly give me some advice?
WebDriverException: Message: unknown error: net::ERR_CONNECTION_TIMED_OUT
  (Session info: headless chrome=91.0.4472.77)

[2021-05-31 17:11] icpgithub opened #71 "Limit followers/following scrap results"
Hi,

Is there a way to limit the followers scraping? For instance, I will like to only scrap the newest X followers from users using this function:

followers = get_users_followers(users=users, verbose=0, headless = False, wait=1)

Is this something that can be implemented? Or is there and I don't know how to use it? 🔥

[2021-06-12 07:34] unnati914 commented on #57
i can work on this

[2021-06-16 15:44] Auth0rM0rgan opened #72 "Not able to get the list of followers or following"
Hey @Altimis,

Thanks for sharing your code! I installed the package as written in the readme file and I started with Example.ipynb. Everything is working except these two command `following = get_users_following(users=users, verbose=0, headless = True, wait=1)` and `followers = get_users_followers(users=users, verbose=0, headless = True, wait=1)`. Im getting this error when Im trying the mention

[2021-06-22 01:30] UT07 opened #73 "Limit the number of tweets scraped"
Hello,
Is there a way to limit the number of tweets scraped using the method scrap()?
Ex:- I want to scrape the top 10 tweets of the given date range instead of all the possible scraped tweets?

[2021-06-29 15:46] slemminggg opened #74 "No known parent package"
Recently I started getting this error:

Traceback (most recent call last):
  File "C:\Users\User\Desktop\Scweet-master\Scweet\scweet.py", line 9, in <module>
    from .utils import init_driver, get_last_date_from_csv, log_search_page, keep_scroling, download_images
ImportError: attempted relative import with no known parent package

I have previously used the tool without any issues.

[2021-07-06 16:28] alvinictstudent commented on #74
Same issue. Found any fixes yet?

[2021-07-08 21:48] OmniSec001 commented on #74
No, please let me know if you do before me!

[2021-07-24 13:37] Altimis commented on #73
Yes there is an argument called `limit`

[2021-07-24 13:37] #73 closed

[2021-08-06 08:51] purnima110895 commented on #65
Hey guys !
Facing the same issue, after using headless = False, getting blank dataframe.

data = scrap(start_date="2021-05-01", max_date="2021-05-02", from_account = 'elonmusk', interval=1,
      headless=False, display_type="Top", save_images=False, filter_replies=True, proximity=True)

Getting output as -
looking for tweets between 2021-05-01 and 2021-05-02 ...
 path : https://twitter.com/search

[2021-08-06 08:58] purnima110895 opened #76 "scrap() doesn't scrap anything."
Hey guys !
Facing the same issue, after using headless = False, getting blank dataframe.

data = scrap(start_date="2021-05-01", max_date="2021-05-02", from_account = 'elonmusk', interval=1,
headless=False, display_type="Top", save_images=False, filter_replies=True, proximity=True)

Getting output as -
looking for tweets between 2021-05-01 and 2021-05-02 ...
path : https://twitter.com/search?q=(fro

[2021-08-09 00:35] Altimis commented on #71
Done

[2021-08-09 00:35] #71 closed

[2021-08-09 01:12] Altimis commented on #68
Thank you. I fixed this issue

[2021-08-09 01:12] #68 closed

[2021-08-09 07:45] icpgithub commented on #71
Thanks!

[2021-08-09 09:37] purnima110895 opened #77 "How can I limit the number of followers and followings to be fetched from get_users_following and get_users_followers?Because I only need 1000 followers or followings ."

[2021-08-09 09:38] purnima110895 commented on #77
@Altimis Please reply .

[2021-08-09 10:19] Altimis commented on #77
I added this feature yesterday to the repository. I've not updated the library yet. Clone the code and you can use it by setting the ``limit`` parameter in the get_users_following and get_users_followers functions.

[2021-08-09 11:02] Altimis commented on #77
@purnima110895  Sorry I've just pushed the changes.

[2021-08-09 11:26] purnima110895 commented on #77
Getting this error @Altimis ,

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-12-b7d5ccde9aa4> in <module>
----> 1 followers = get_users_followers(users=users, env=env_path, verbose=0, headless=True, wait=2, limit=300)

TypeError: get_users_followers() got an unexpected keyword a

[2021-08-09 11:38] Altimis commented on #77
Yes that's what I said. I did not update the version of the library yet, I need to do some other changes to do so. But the limit parameter has been added to the repo in github. So you need to clone it and work with it instead of the library.

``git clone https://github.com/Altimis/Scweet.git``

and you can use the Example.py as a guide.

[2021-08-09 11:40] Altimis commented on #77
If it doesn't work for you let me now to create a new version of the library.

[2021-08-09 12:05] Altimis commented on #74
Can you please clone the actual repo and work with it instead of the library and tell me if it work ? I did not update the library yet.

[2021-08-09 12:12] Altimis commented on #77
You can try using the new version now : 1.2

[2021-08-09 12:13] Altimis commented on #72
Install the new version (pip install scweet==1.2)

[2021-08-09 12:15] purnima110895 commented on #77
Cool!!Thank you so much @Altimis . It's working good.

[2021-08-09 12:16] #77 closed

[2021-08-09 12:18] Altimis commented on #67
Yes you are right, I'll add this option, thank you

[2021-08-09 12:39] Altimis commented on #76
Does it work now ?

[2021-08-09 13:01] purnima110895 commented on #76
data = scrap(words=['olympics'], since="2021-08-01", until="2021-08-06", from_account = None, interval=1,
	headless=True, display_type="Top", save_images=False,
	resume=False, filter_replies=False, proximity=False)

I tried running this code, For a long time I didn't get any output?Anything wrong here?

[2021-08-09 13:04] Altimis commented on #76
Actually, there was a little issue with the scrap function in the version 1.2. Upgrade scweet to version 1.4 and it will work.

``Scraping on headless mode.
looking for tweets between 2021-08-01 and 2021-08-02 ...
 path : https://twitter.com/search?q=(olympics)%20until%3A2021-08-02%20since%3A2021-08-01%20&src=typed_query
scroll  1
Tweet made at: 2021-08-01T23:22:29.000Z is found.
Tweet made at: 20

[2021-08-09 13:15] purnima110895 commented on #76
Nice, Thankyou so much @Altimis .

[2021-08-10 07:14] purnima110895 opened #78 "getting timeout exception in the function following = get_users_following(users=users,env=env_path, verbose=0, headless = True,wait=5, limit=10)"
selenium.common.exceptions.TimeoutException: Message:
TimeoutException: Message: timeout: Timed out receiving message from renderer: 97.807

![scweet_timeout_error] Refer the error image below -
https://user-images.githubusercontent.com/88534418/128830857-51dba4e4-717d-4214-a303-3eb0792b1630.png

Why so? Any solution to avoid this @Altimis .

[2021-08-10 11:50] #78 closed

[2021-08-10 11:50] purnima110895 commented on #78
Resolved!

[2021-08-12 23:37] #55 closed

[2021-08-12 23:41] #62 closed

[2021-08-12 23:41] #66 closed

[2021-08-13 10:54] purnima110895 opened #79 "FileNotFoundError: [Errno 2] No such file or directory: 'google-chrome': 'google-chrome'"
I am running only the Example.ipynb , and getting this error on linux platform, how can I fix this, because I need only following/followers functions of scweet?
Please reply @Altimis

[2021-08-13 10:56] Altimis commented on #79
Do you have google-chrome installed in your system ?

[2021-08-13 11:00] purnima110895 commented on #79
actually, it was not installed, let me check once after installing.

[2021-08-13 11:11] purnima110895 commented on #79
google-chrome --version
Google Chrome 92.0.4515.131

selenium.common.exceptions.WebDriverException: Message: unknown error: Chrome failed to start: exited abnormally.
  (unknown error: DevToolsActivePort file doesn't exist)
  (The process started from chrome location /usr/bin/google-chrome is no longer running, so ChromeDriver is assuming that Chrome has crashed.)

[2021-08-13 11:19] Altimis commented on #79
It's a permission issue i guess ...

[2021-08-13 11:26] Altimis commented on #79
I have a solution that may work for you, I'll update the lib later.
Go to the source code of the scweet library in your system (look for it in site_packages folder where all packages are being stored). Go to utils.py and look for init_driver function. Then add this line ``options.add_argument("--no-sandbox")`` before this line ``driver = webdriver.Chrome(options=options, executable_path=chromedriv

[2021-08-13 11:27] purnima110895 commented on #79
But I am not running the scweet file, I am just running the example.py file, and using only the following and follower functions.

[2021-08-13 11:29] Altimis commented on #79
It's the same thing. All the modules in the scweet library uses chrome-driver so you need to get your chrome working.

[2021-08-13 11:30] purnima110895 commented on #79
okay,I will try your solution. Thankyou.
Any solutions that can be updated in example.py?

[2021-08-13 11:33] Altimis commented on #79
Not really, the problem exists in the core of the process. The first step is to open chrome (in headless mode). In your case chrome doesnt open duo to permission issues. If you set this option before opening chrome with selenium, you might get it work. Keep me updated so i can add this option for linux users

[2021-08-13 11:34] Altimis commented on #79
See [this issue](https://github.com/SeleniumHQ/selenium/issues/4961#issuecomment-365251536)

[2021-08-13 11:40] purnima110895 commented on #79
okay, I will update if I face any other issue after the above solutions doesn't work. Thankyou.

[2021-08-13 11:59] purnima110895 commented on #79
It resolved the issue, Thankyou @Altimis .

[2021-08-13 12:01] Altimis commented on #79
Great ! I'll add this option later. Although I read that this option is not recommanded idk why exactly.

[2021-08-13 12:02] #79 closed

[2021-08-16 04:53] purnima110895 opened #80 "error while running the example.py on docker, why so? And when I run the same file on local, it runs properly, but to fetch 1000 followers/followings it takes 7 to 8 minutes, what can be done to make the process faster?"
selenium.common.exceptions.WebDriverException: Message: unknown error: session deleted because of page crash
from unknown error: cannot determine loading status
from tab crashed
  (Session info: headless chrome=92.0.4515.131)
Any help @Altimis

[2021-08-16 06:34] purnima110895 commented on #80
Traceback (most recent call last):
  File "scweet_get_relationships.py", line 27, in <module>
    followers = get_users_followers(users=users, env=env_path, verbose=0, headless=True, wait=5,limit=10)
  File "C:\Users\AppData\Local\Programs\Python\Python36\lib\site-packages\Scweet\user.py", line 104, in get_users_followers
    with open(file_path, 'w') as f:
FileNotFoundError: [Errno 2] No such fil

[2021-08-16 11:06] purnima110895 commented on #80
Please do reply @Altimis, if you have any solution on the above issue.

[2021-08-16 11:20] Altimis commented on #80
Regarding the time of retrieving followers/following, there is a wait parameter that controls waiting time between each scroll. Its default value is 2. If you have a good connection, set it to 0.5 or 1 to minimize the time.
There could be another way to retrieve this data faster, which is scrolling first until the end of the page and then retrieve all data in the element. But it could ban the acco

[2021-08-16 13:12] purnima110895 commented on #80
Can we apply multithreading on this functions, like if mutiple users are trying to fetch the data at the same time with the same account, is it expandable?

[2021-08-17 10:26] purnima110895 commented on #80
Any help on the above query @Altimis . Please do reply.

[2021-08-17 22:24] Altimis commented on #80
Can you point out how did you solve the docker problem please ?
Regarding your suggestion,  As far as I know, it is possible to do multithreading with selenium. So it is possible to retrieve following/followers likewise. Although I havent try it yet.

[2021-08-18 07:57] purnima110895 commented on #80
Tanks for the response @Altimis . Regarding that docker-
Actually we were using microservices and this scweet api and in between we had restapi to call this scweet in the microservice, previously used different containers in docker to run the MS and Scweet api, after alot of efforts, tried resolving running MS and scweet api in same container, it worked out.

[2021-08-21 08:48] shifengzhao opened #81 "get_users_following error"
When I call get_users_following, it reports following error, how can I for this?
![image](https://user-images.githubusercontent.com/39286101/130316385-81dd54cc-3fd3-481c-aaba-0f9c3644f725.png)

[2021-08-21 23:08] Altimis commented on #81
Check if you've set your .env file correctly. Also set headless as False to see what happens exactly during the process.

[2021-08-25 00:50] belalhamdy opened #82 "Can you explain every parameter in the function `scrap`?"
I need to know every parameter usage in the function scrap which is
[code]
Can you explain it please?

[2021-08-25 01:17] Altimis commented on #82
This function scrapes data from date `since` until date `until` according to list of words `words`. You can also scrape data according to `to_account` (which are the tweets published to this account), `from_account` (which are tweets  published from this account), `hashtag` or `mention_account`.
Use `headless` to scrape data with headless chrome. Use limit to `limit` the number of tweets to be scr

[2021-08-25 08:37] belalhamdy commented on #82
@Altimis  thanks for your reply.. I do not get the usage of `headless` parameter what will happen if I used it or not?

[2021-08-25 10:15] Altimis commented on #82
Did you try it to see yourself ? True means that you scrape with headless chrome window (you don't get to see the process of scraping).

[2021-08-25 10:23] belalhamdy commented on #82
Thanks

Thanks

[2021-08-25 10:23] #82 closed

[2021-08-25 12:38] mahdishemshadi opened #83 "promote xpath"
Hello
I found a problem in utils.py line 85.
The XPath in this line is:

 './/div[2]/div[2]/[last()]//span'

and it is incorrect.
The correct XPath is :

'.//div[2]/div[2][last()]//span'
please correct this

[2021-08-28 05:55] mahdishemshadi opened #84 "documentation"
Hi,
Please write a good documentation for all methods specially scrape.
Thanks

[2021-08-29 10:06] belalhamdy opened #85 "Problem in scrolling"
The scraper scrolls too much .. for example I run this code
[code]
it saves the data of usernames:
[code]
If you go to the url that the scrapes scrape from [this url](https://twitter.com/search?q=(%23nintendo)%20until%3A2021-08-15%20since%3A2021-08-14%20&src=typed_query)
we will find out after `Artisan Panda` tweet there are some tweets then `KirbBound`.
everytime the scraper scrolls it skips some

[2021-09-01 00:50] dominique120 opened #86 "get_user_information() always returns "None""
I'm trying to scrape some user info with the example provided however it seems that it is not working. Every time I run the script it just returns ```None```

I did a bit of playing around and it seems that it occurs because Twitter does not load properly.

![image](https://user-images.githubusercontent.com/5600693/131593959-7be338ee-3fd1-49ff-b05f-2686294842f5.png)

Whenever I press try again the

[2021-09-03 07:45] BrandonKMLee commented on #57
@unnati914 progress? Also in case you have to rely on services over libraries: https://tweeterid.com/

[2021-09-03 07:47] BrandonKMLee commented on #81
@Altimis this is why this is useful https://github.com/Altimis/Scweet/issues/59
Otherwise, there should be a safety check that makes sure .env is working properly, or conversely create a password-like object for storing user details.

[2021-09-03 07:49] BrandonKMLee commented on #86
1. Please check if it is a "no bots allowed" issue (Twitter is very sensitive about it)
2. How many instances are you opening in your computer (or your IP)? Having multiple instances open could be considered as spam
3. Make sure the account you are opening are not "sensitive" or "shadow-banned" (i.e. Unsearchable)

[2021-09-04 21:21] Altimis commented on #81
Yes you are right, TODO

[2021-09-10 10:53] nodays0502 opened #87 "It doesn't scrap anything."
Hello
yesterday it works good
but, today this code It doesn't scrap anything.....

data = scrape(hashtag="dog", since="2021-09-09", until=None, from_account = None, interval=1,
              headless=True, display_type="Top", save_images=False,
              resume=False, filter_replies=True, proximity=True)

data = scrape(hashtag="dog", since="2021-09-09", until=None, from_account = None, interva

[2021-09-10 11:20] cihan-github commented on #87
I am having the same problem. I couldn't find any solution no matter what I did.
Can you help us @Altimis ?

[2021-09-10 12:41] cihan-github commented on #87
Did you find any solution? @nodays0502

[2021-09-10 12:47] Altimis commented on #87
Yes you are right. Give me some time to check it

[2021-09-10 12:52] cihan-github commented on #87
Thank @Altimis very much for your interest. I will be waiting for a message from you.

[2021-09-11 08:51] cihan-github commented on #87
@Altimis, did you find any solution? Because I'm trying to run a project for next week.

[2021-09-11 13:10] nodays0502 commented on #87
sry... i don't have no idea ... @cihan-github

[2021-09-11 22:36] Altimis commented on #87
@cihan-github  @nodays0502  check the new version (1.6) and tell me if it works for you. Twitter updated the xpath of tweets so I had to change it.

[2021-09-14 08:20] Georgebillion commented on #87
New Version 1.6 Is Solved This Problem. It's  Worked!!! @Altimis

Here's some codes:
looking for tweets between 2021-05-25 and 2021-06-02 ...
 path : https://twitter.com/search?q=(PetraArt%20OR%20ペト絵%20OR%20GalleryOfRoses%20OR%20Artsuki%20OR%20絵リーラ%20OR%20pendorART%20OR%20Finanart%20OR%20PomuPaint)%20until%3A2021-06-02%20since%3A2021-05-25%20&src=typed_query&f=image
Tweet made at: 2021-05-28T01:05

[2021-09-14 11:42] Altimis commented on #87
@Georgebillion  Perfect. Thank you.

[2021-09-14 11:42] #87 closed

[2021-09-17 13:12] sspchunduri opened #89 "data = scrap(words=" "......)"
This function always says:

scroll 1
scroll 2
scroll 3

and then an empty output file gets created.

it never works even in headless = False.

Help needed with this issue.

[2021-09-17 13:25] Altimis commented on #89
I just tested it and it works. Show me the params that you have set to the functions scrape

[2021-09-17 13:44] sspchunduri commented on #89
data = scrap(words="finance",since="2021-09-14", until="2021-09-16", from_account=None, interval=1, headless=False, display_type="Top",save_images=False, resume=False, filter_replies=True, proximity=True)

[2021-09-17 13:45] sspchunduri commented on #89
I even set up my .env file also. I have everything exactly the way you did it. idk what's wrong.

Can you help me out on how you set it up

[2021-09-17 14:53] Altimis commented on #89
Can you set the proximity parameter as False ? maybe there are no tweets with this word near you ( i know its unlikely but you can try this possibility)

[2021-09-17 14:54] Altimis commented on #89
You can set display_type parameter with "latest" if you want to show all tweets and not only the top ones

[2021-09-17 15:27] sspchunduri commented on #89
I tried setting to latest and it's scrolling infinitely. I changed the code to what you suggested but it's still not working for me. I don't know what the issue is.

[2021-09-22 17:12] Ulundil commented on #63
I have exactly the same issue. When I set headless to False I notice that the webpage is opened and Scweet then doesn't do anything anymore. Some assistance would be greatly appreciated!

[2021-09-24 01:44] nodays0502 opened #90 "If Scweet scroll down a lot, InvalidSessionIdException occurs"
![Image Pasted at 2021-9-24 10-40](https://user-images.githubusercontent.com/76464235/134605537-59cb91be-ef1b-43ed-92c4-29d01882149f.png)

If Scweet scroll down a lot, an error occurs.
I guess it's because of the memory. but, i have no idea.
sry sir.
can you help me?

[2021-09-24 10:16] Altimis commented on #90
The only solution for this is to set "interval" to minimum value (which is 1), or "diplay_type" to "Top" (to show only top tweets instead of all tweets), or both

[2021-10-04 09:31] BrandonKMLee commented on #81
@Altimis I am upset (in a no-coffee in the morning sense) that this problem has not been solved, and I would really like to help.
Some basic issues:
1. Explaining function inputs and outputs (ala Documentation) e.g. does this function output Twitter ID or Twitter Handle?
2. Find other needed solutions for the problem e.g. calling external tools to convert Twitter Handle to Twitter ID (prevent repe

[2021-10-04 09:38] BrandonKMLee commented on #56
This function can be borrowed easily with a simple `import queue`
[code]

The Frontier object only takes a seed note and a lambda function (of the scraper) as the main component.
I can imagine `variable = Frontier(seed_user, lambda x: get_users_following(users=x, env=env_path, verbose=0, headless=True, wait=2, limit=50, file_path=None))` being the main command that connects to it, however this wil

[2021-10-06 05:21] BrandonKMLee commented on #56
To warn me of the issue: There needs to be a way to cache and restore instances with this Object.
Another problem: Collective Pulling if given a name list https://github.com/narendraj9/digsep/issues/2

[2021-10-25 19:12] siwei-li opened #92 "Only able to scroll on the same page"
The problem I am encountering is that Scweet right now is only able to get me 3 to 4 Tweets per day that contain the assigned keyword, which are on the same page of the queried results. Is it any possible to get all of the Tweets through pagination? At present, three to four Tweets per day is far not enough for my research.

I am running Scweet with headless set to False, as otherwise I am unable

[2021-10-30 14:51] charlyfr commented on #81
Hey, it seems that this function is still KO.
On my side I don't see the login happening (when headless=False) despite having the right .env file configured.
It does not seem to attempt to login.
Anyone has the same issue?
Thanks!

[2021-11-03 21:31] starmz123 opened #93 "Filtering Tweets by location?"
Would it be possible to add a way to pull the user's location, as with [Twint](https://github.com/twintproject/twint/wiki/Basic-usage)?

Alternatively, it would be much preferred if there were a way to filter tweets by location via profile locations, as documented **[here](https://developer.twitter.com/en/docs/tutorials/filtering-tweets-by-location)**.

[2021-11-08 23:37] wenyi-guo opened #96 "Is this not working?"

[2021-11-28 23:59] Evan-Ning opened #98 "timeout exception when trying to get user following"
Hi, thanks for the package. I keep getting a timeout exception when I try to use the get_users_following() function or the get_users_followers() function. All other functions work fine. Is there any way I can fix this problem?

My env file looks like this: SCWEET_USERNAME=......,SCWEET_PASSWORD=......

And I keep getting the following error:
TimeoutException                          Traceback (mos

[2021-12-15 13:11] qiangjiaodeyugang commented on #78
How did you solve it?

[2021-12-21 15:16] micaelamaria opened #99 ".env"
Hi! I created a file called ".env" and saved it in the same folder I have my scraping code. When I run the command:
following = get_users_following(users=users, env=env_path, verbose=0, headless=False, wait=2, limit=50, file_path=None)
The excecution stops when the brower has to fill in the user and pass information. Any hints?

[2021-12-21 15:19] Altimis commented on #99
Did you specify the location of the file in your code ? (example.py)

[2021-12-21 15:22] micaelamaria commented on #99
Yes, I have:
env_path = "/foldername/.env"

[2021-12-21 15:31] Altimis commented on #99
Show me an example of what you put in the file (not your exact credentials tho)

[2021-12-21 15:32] micaelamaria commented on #99
SCWEET_USERNAME=myusername
SCWEET_PASSWORD=mypass

[2021-12-21 16:16] micaelamaria commented on #99
is it not right?

[2021-12-23 02:55] micaelamaria commented on #81
I have, and they do not answer the issues...

[2021-12-29 17:37] micaelamaria commented on #99
Is anyone maintaining this repo?

[2021-12-31 09:59] Altimis commented on #99
Sorry, I haven't had time to check the issue. I will get back to you this afternoon

[2021-12-31 22:21] nrsmac opened #100 "'geocode' is an unexpected argument"
Hi there,

Great tool -- just switched over from twint. One crucial task for my work is gathering tweets from specific cities, but I am running into some difficulty. I am running the example:

[code]

which returns:
[code]

Without the `geocode` argument, everything works just fine. Has the argument name been changed or will this need a patch?

Thanks

[2021-12-31 22:27] Altimis commented on #100
Hi, he library needs to be updated. I will see if I can do it asap. Otherwise you can clone the repo and use it instead of inporting Scweet from pip

[2021-12-31 22:40] nrsmac commented on #100
Thanks for the quick reply! No rush -- won't be able to work on this anymore until Monday anyways.

[2022-01-02 15:26] smicrasoft commented on #99
I think the script need to be updated, the login screen is not the same anymore. There is no "//input[@name="session[username_or_email]" anymore (cf utils.py)

[2022-01-02 16:37] ratobiajin opened #101 "No contents in output file except the header row"
Hello! Thank you for the solution that worked fine for me in August 2021. Running on Python version 3.7.4 / IDLE version 3.7.4 on Win10. Please help. I'd like to acquire all tweets between start_date="2021-07-01", max_date="2022-01-03". Upon test run for a single date:

Scraping on headless mode.
looking for tweets between 2022-01-01 and 2022-01-02 ...
 path : https://twitter.com/search?q=(ラトビア%20

[2022-01-03 14:34] Altimis commented on #99
Yeah, I've just updated the code. I'll update the library soon

[2022-01-03 17:40] Altimis commented on #99
@micaelamaria  @smicrasoft  can you confirm please so that I can close this issue

[2022-01-03 17:40] Altimis commented on #100
@nrsmac you can check now

[2022-01-03 17:41] micaelamaria commented on #99
@Altimis thanks - but then, what should we do to use get the following/followers? got confused now

[2022-01-03 17:41] Altimis commented on #101
Show me how did you set the scrape function please

[2022-01-03 17:42] Altimis commented on #99
@micaelamaria  The same functions as before. See [Example.py](https://github.com/Altimis/Scweet/blob/master/Example.py) file

[2022-01-03 17:43] Altimis commented on #99
@micaelamaria  But this time you need to specify the username and email of the account that u are using to scrape following/followers. (see .env)

[2022-01-03 17:44] Altimis commented on #98
Fixed

[2022-01-03 17:44] #98 closed

[2022-01-03 17:44] Altimis commented on #96
Which function ?

[2022-01-03 17:45] Altimis commented on #93
There is an argument called geocode where you can specify the location

[2022-01-03 17:46] Altimis commented on #92
Can you give me the keyword that u are using ?

[2022-01-03 17:59] micaelamaria commented on #99
Just tried it and not working:
"StaleElementReferenceException: stale element reference: element is not attached to the page document
  (Session info: chrome=96.0.4664.110)"

[2022-01-03 18:03] Altimis commented on #99
@micaelamaria Did you install the latest version ? (1.8)

[2022-01-03 18:05] micaelamaria commented on #99
yes

[2022-01-03 18:07] Altimis commented on #99
Show me your code please. I already tested the new code and it works

[2022-01-03 18:07] micaelamaria commented on #99
ok, now it works (restarted kernel), but the issue is another one:
FileNotFoundError: [Errno 2] No such file or directory: 'outputs/[useriamscraping]_[useriamscraping]_following.json'

[2022-01-03 18:10] Altimis commented on #99
Yeah, maybe it has to do with the file containing following and followers being saved. You can take the output of the function (get_following and get_followers) and save it manually

[2022-01-03 18:10] Altimis commented on #99
Do not specify the output file path in the function (show me the arguments of your function)

[2022-01-03 18:11] micaelamaria commented on #99
following = get_users_following(users=users, env=env_path, verbose=0, headless=True, wait=2, limit=100)

[2022-01-03 18:17] micaelamaria commented on #99
this error persists as well. StaleElementReferenceException: stale element reference: element is not attached to the page document
  (Session info: headless chrome=96.0.4664.110)

[2022-01-03 18:17] Altimis commented on #99
Try setting <file_path> argument with None. I will update the repo later to fix this issue

[2022-01-03 18:18] micaelamaria commented on #99
it doesn t work either :(

[2022-01-03 18:28] Altimis commented on #99
@micaelamaria  increase <wait> argument (set it to 3 or 4) and test

[2022-01-03 18:32] Altimis commented on #99
@micaelamaria  Regarding the No such file or directory: 'outputs/[useriamscraping]_[useriamscraping]_following.json' issue. You need to create a directory called outputs in the same location of your python file. I will update the code to create it automatically.

[2022-01-03 19:00] micaelamaria commented on #99
I get now a new error: "NoSuchElementException: no such element: Unable to locate element: {"method":"xpath","selector":"//input[@autocomplete="current-password"]"}
  (Session info: headless chrome=96.0.4664.110)"

[2022-01-03 19:11] micaelamaria commented on #99
worked now ;)

[2022-01-03 22:07] #99 closed

[2022-01-04 00:58] ghost opened #102 "Dictionary of Followers"
After a given number of followers scraped, the scraper falls into a "StaleElementReferenceException" error. Given than, is there a way to save the followers while the scraper is ongoing, so that when it crashes at least have some saved?

[2022-01-04 03:10] ratobiajin commented on #101
# -*- coding: utf-8 -*-
#coding: UTF-8

from Scweet.scweet import scrap
from Scweet.user import get_user_information, get_users_following, get_users_followers
data=scrap(words=['ラトビア','ラトヴィア','ラトヴィヤ','ラトビヤ','良都美野'],start_date="2022-01-01", max_date="2022-01-03",display_type="Latest",headless=True,interval=1)

This is the gather.pyw file contents, it looped and echoed a list scrolling instances for

[2022-01-04 08:17] smicrasoft commented on #99
Seems working from "Example.py", ty !

[2022-01-04 13:46] Altimis commented on #101
@ratobiajin it seems that you are using an old version of scweet. max_date and start_date are deprecated (replaced by since and until). Make sure that your are using Scweet version 1.8.

[2022-01-04 14:30] micaelamaria opened #103 "Get name of the username"
So far the get_user_information returns a list that contains :
# ["nb of following","nb of followers", "join date", "birthdate", "location", "website", "description"]
Is it possible to get the name of the username? i.e. what is above the @username on the screenshot
![image](https://user-images.githubusercontent.com/7547868/148074156-e5c2a05d-f7fe-453a-8713-ce575f3ba1cc.png)

[2022-01-04 14:37] ratobiajin commented on #101
Thank you very much for assistance. I reinstalled the version 1.8 and rewrote the function, and now it worked for the single date, so I will proceed on the whole aforementioned period. Hope it works. Please accept my gratitude and best wishes for development of this and your other projects!

[2022-01-04 14:41] Altimis commented on #101
My pleasure !

[2022-01-04 14:41] #101 closed

[2022-01-05 13:24] ratobiajin opened #104 "Several thousands of tweets just in one date, how to specify hour period"
Hello! I noticed that there are a number of dates where tweets containing a specific keyword exceeds several thousands of items and headless browser crashes upon around the 8000th tweet. Is it possible to narrow the query to a specific period of time within that date, let's say — from 2021-07-28 12:00 to 2021-07-28 15:00? Otherwise It seems impossible to acquire all tweets in a day if there are se

[2022-01-06 18:28] micaelamaria commented on #103
Hi, can I help in this development?

[2022-01-06 23:31] Altimis commented on #103
@micaelamaria You can do a merge request

[2022-01-07 17:12] micaelamaria commented on #103
yeah! but I m affraid that for a simple change, it will add you more work... taht s why I sent you the xpath

[2022-01-07 17:30] micaelamaria commented on #103
Couldn t make the pull request - here the fix

from . import utils
from time import sleep
import random
import json

def get_user_information(users, driver=None, headless=True):
    """ get user information if the "from_account" argument is specified """

    driver = utils.init_driver(headless=headless)

    users_info = {}

    for i, user in enumerate(users):

        log_user_page(user, driver

[2022-01-07 19:53] micaelamaria commented on #103
I also added a return in the get_user_information function to get a list as an output.

[2022-01-09 19:39] #103 closed

[2022-01-09 19:40] micaelamaria opened #105 "NoSuchElementException"
I am getting the error below when I run the get_users_followers - any thought?

NoSuchElementException: no such element: Unable to locate element: {"method":"xpath","selector":"//input[@autocomplete="username"]"}

[2022-01-11 06:15] mrd33p opened #106 "The 'from' keyword is not supported in this version of the language. FullyQualifiedErrorId : ReservedKeywordNotAllowed"
Hi,
I am not from programming background, so please forgive my silly mistakes If I am doing something stupid.

I installed Scweet using
`pip install -r requirements.txt`

then I tried importing fucntoin using
`from Scweet.scweet import scrape
from Scweet.user import get_user_information, get_users_following, get_users_followers`
and tried running this command

`data = scrape(words=['bitcoin', 'eth

[2022-01-12 02:13] pbabvey commented on #105
I am getting the same error.

[2022-01-13 11:30] Altimis commented on #106
Hi @mrd33p. Please install Scweet by pip using ``pip install Scweet==1.8''

[2022-01-13 13:47] mrd33p commented on #106
I had already installed scweet before installing requirements.

![image](https://user-images.githubusercontent.com/85106864/149341594-685a74d8-9537-44c7-af73-e495766dc6ba.png)

the same error persists.

[2022-01-13 20:00] siwei-li commented on #92
I was all the different query words like "Apple", "$AAPL", "Trump" and the list goes on. It wasn't working back then a few months ago. I hope it's working now. All the best with your work!

[2022-01-31 15:18] dinus165 opened #107 "Error Code: Out of Memory while scraping followers"
Hi!

When I try to scrape followers, after 10k, it throws Out of Memory error. Can someone please help me with that
![afsafsadsfsg](https://user-images.githubusercontent.com/61204994/151820255-200f86bd-bbd8-40fa-923b-ccaefc71535d.jpg)
?

[2022-01-31 15:23] Altimis commented on #107
Yeah that's the maximum crawling you can do with your memory..

[2022-02-10 08:04] ssantamaria94 opened #109 "The field 'Text' is not filled right"
I think it can be solved replacing line 47 in Utils.py from
`text = card.find_element_by_xpath('.//div[2]/div[2]/div[1]').text`
to
`text = card.find_element_by_xpath('.//div/div/div[2]/div[2]/div[2]/div').text`

[2022-02-11 07:09] das00015 opened #110 "Trying to scrape within a time period, but results are coming from time period outside my specified range!"
---
[code]
---
You can see the results are returning tweets from 2022.
--
[code]
---
How do I get the tweets in the right time period? It looks like it is taking from a since date to most recent. The until parameter is not getting recognized ?

[2022-02-11 07:13] das00015 opened #111 "Trying an advanced query (with AND operator), is this not supported ? Looks like only first part is queried for"
[code]
This is my code above. It appears it makes the query on Twitter search correctly(see below), but I cannot find any tweets containing #endviolence in the results. Can you tell me what is going on ?
[code]

[2022-02-13 01:37] Altimis commented on #111
If you want to query two words, just specify you words in the list. Example : ['Gap', 'endviolence']

[2022-02-13 01:43] Altimis commented on #110
Actually the problem comes from your query. You need to add each word of your query to the list as an element, and not in the same string splited by AND. You can enter the link showed in the result and you will see that Twitter doesnt take into account time period and other arguments after adding AND word in the query. The link : https://twitter.com/search?q=(Gap AND #endviolence)%20until%3A2019-0

[2022-02-13 01:58] Altimis commented on #109
Hi @ssantamaria94, can you explain what do you mean by "not filled right" please ?

[2022-02-13 03:16] das00015 commented on #111
Actually I tried this, this queries for Gap OR endviolence. I am looking for tweets for both word being present in a tweet.

[2022-02-13 04:13] das00015 commented on #111
Actually, I figured it out,
to get both words in a string the query should be -
[code]
Thankyou !

[2022-02-13 04:13] #111 closed

[2022-02-13 12:05] ssantamaria94 commented on #109
When I run the scrape function the field text is just filled with the tweet's author name and the date when this was made, not the tweet's text

[2022-02-19 21:44] dataslug1 commented on #47
Hi I am also having this error intermittently, not sure what is causing it.  Often it will happen part way through going through a list of users.  It would be great if there was a way to write the results to file as they are scraped, so that they are not lost if an error occurs before the program finishes.

selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to loca

[2022-02-20 19:14] dataslug1 opened #112 "Scraping following also includes the "who to follow" advertised users"
Hi,
I realised there was a very high count of "binance" appearing in get_users_following() search and realised that Binance is advertised in the "who to follow" window on the right side of the following page on twitter.  It seems to be including these adverts in the scrape.
Thank you

[2022-02-24 02:25] das00015 commented on #110
Was able to understand the issue : the specific query I was looking for was the phrase "ben&jerrys", this triggers a different query and breaks the data collection, because of the and operator which is present in it.

[2022-02-24 02:25] #110 closed

[2022-03-03 13:57] PairplaneN opened #113 "get_user_follow fails since new chrome version"
Hi,
When scraping followers and followings, I receive the following error (since the update of chrome on my linux pc from version 98.xxx to 99.xxx):

Traceback (most recent call last):

  File "~/Scweet/utils.py", line 385, in get_users_follow
    log_in(driver, env, wait=wait)
  File "~/Scweet/utils.py", line 305, in log_in
    email_el = driver.find_element(By.XPATH, email_xpath)
  File "/usr/lo

[2022-03-21 13:34] Matt31C opened #114 "Library Problem ???"
I downloaded the library using "pip3 install Scweet==1.8" on the terminal (I'm on mac) but i can't import the functiuns on VSC.
I am new to coding and can't find the problem

[2022-03-21 20:14] rosscg commented on #113
I've added Firefox support in the fork here:
https://github.com/rosscg/Scweet/tree/7aadb838eb5ff1db34f0eb1b5af0576c0a8a28bc

It's set as the default in get_users_follow so it can run without changing anything else.

[2022-03-22 06:39] ShoufaChen commented on #113
Hi, @rosscg

Thanks for your contribution. I found that you import
[code]

but `.const` does not contains `get_geckdriver_path`.

Could you help me?

[2022-03-22 09:03] joedsf commented on #21
我安装了chrome，但还是出现了这个问题，请问怎么办

[2022-03-22 09:15] joedsf commented on #21
以前可以使用，后来突然不行了

[2022-03-22 09:48] rosscg commented on #113
@ShoufaChen Yes that's an import I replaced (so shouldn't be there). I've updated the repo so either use the latest on my fork or just remove ", get_geckdriver_path" from that line in utils.py

[2022-03-22 12:28] ShoufaChen commented on #113
Thank you @rosscg.

[2022-03-23 11:08] Qmeasure opened #116 "Could not locate the login Element"
NoSuchElementException                    Traceback (most recent call last)
/var/folders/l6/r_4g46d57vq67tth9s0dh2sh0000gn/T/ipykernel_6708/2251003829.py in <module>
      6 env_path = ".env"
      7
----> 8 following = get_users_following(users=users, env=env_path, verbose=0, headless=True, wait=2, limit=50, file_path=None)

~/opt/anaconda3/lib/python3.9/site-packages/Scweet/user.py in get_users_

[2022-03-25 08:32] PairplaneN commented on #113
Thank you @rosscg and @ShoufaChen, it's working again.

[2022-03-27 20:51] BLEEDINGNOICE opened #117 "does it work with private accounts?"

[2022-04-01 16:07] Mateusz-Kwiatkowski commented on #112
Maybe let Firefox install the https://github.com/thomaswang/minimal-twitter extension before scratching. Manually it works, but the browser always starts without extensions.

[2022-04-07 12:22] dataslug1 opened #118 "get_user_information stops part way through list of users and returns "none""
Hi,
I have a list of about 1000 users but this function seems to stop scraping after about 55 users, and the resulting "users_info" is just None.   There is no error message in the console, just the info of the user that was last scraped.  I have manually looked at the user that it stops at, but cannot see any problem with the account.

users = followsdf.User.to_list()[0:300]
users_info = get_user

[2022-04-13 01:52] Divjyot opened #120 "Selenium Common Exception : Invalid Session ID Exception"
Under following, arguments:
```--words "@elonmusk"  --since "2019-01-01" --until "2020-01-01"```

the following exception is thrown:

[code]

[2022-04-13 14:06] 412carolyn opened #121 "No such file or directory: 'outputs'"
On April 7 I was able to successfully use Scweet to run a few test queries for a project I'm working on. On April 11, I tried running a new query (and retried the queries from 4/8) and I'm now getting the following error:

FileNotFoundError: [Errno 2] No such file or directory: 'outputs'

I tried re-installing via the terminal, re-importing (I'm using Jupyter), etc. and still have the same issue.

[2022-04-13 14:29] #121 closed

[2022-04-13 20:52] connorguy commented on #65
Facing the same issue. Works with `Headless=False` otherwise when set to `True` I just see that it is scrolling and not picking up any of the tweets.

[2022-04-27 04:13] Overload119 commented on #74
Broken in 1.8 still.

[2022-05-10 15:25] micaelamaria opened #122 "followers - NoSuchElementException"
Hi! I am using chrome and get an error when trying to scrape followers

NoSuchElementException: no such element: Unable to locate element: {"method":"xpath","selector":"//input[@autocomplete="username"]"}

Any hint?

[2022-05-10 15:41] micaelamaria commented on #81
Did anyone solve this for chrome?

[2022-05-11 11:15] heis71 commented on #122
The element is actually there, but the page is closed before the wait expires in order to render it successfully. Try increasing the value of the wait's value, for example set wait=5

[code]

[2022-05-11 11:16] heis71 commented on #116
Duplicate of #122

[2022-05-12 00:32] micaelamaria commented on #118
Same problem here, only that it returns the info of about 15 users.

[2022-05-12 06:33] heis71 commented on #105
Duplicate of #122

[2022-05-12 22:27] ghost opened #123 "solution for #118"
Hi is there any solution for issue #118 ?

[2022-05-13 06:00] heis71 commented on #118
When fetching page information fails, it return None, For example some account name does not exist Twitter

https://github.com/Altimis/Scweet/blob/master/Scweet/user.py#L27

<img width="509" alt="image" src="https://user-images.githubusercontent.com/92259357/168220604-e9adb63a-4cb4-4f68-a7b3-dbbb3d7354bf.png">
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/92259357/16

[2022-05-18 20:23] Trzosik opened #125 "Output problem. text and embedded text mixed as well as metadata stats in embeded text."
Hey guys I have encountered a problem with output regarding mixed text, embedded text and metadata (comment, likes, retweets).
1. In text field there is user name not text
2. in embedded text stats from comments likes and retweets are included
3. likes and retweets are mixed (numbers are changed one into another, so in likes filed there is retweet count and again in retweet count you have likes)
4

[2022-05-18 20:52] Trzosik opened #126 "Doubling tweets with video"
i have noticed that scraper doubles when it encounters tweet with video (see prtsc). The commend and account the same as in #125
Tweet example: https://twitter.com/donaldtusk/status/1526191974197473282
![Screenshot from 2022-05-18 22-50-56](https://user-images.githubusercontent.com/50337043/169153704-bc2fa265-2dd9-4aa0-be4d-a49edddb882f.png)

[2022-05-23 17:08] ehsong opened #127 "I don't think scrape function is working properly"
I ran this in jupyter notebook:

`scrape(since="2020-05-20", until="2020-05-30", from_account = handle, interval=1, headless=True, display_type="Top", save_images=False, resume=False, filter_replies=True, proximity=True)`

And I ran the handle `'minjung_dal'`
the code runs, but says `path: https://twitter.com/search?q=(from%3Aminjung_dal)%20until%3A2020-05-21%20since%3A2020-05-20%20%20-filter%3Are

[2022-05-23 17:43] ehsong commented on #127
@Altimis

No, I ran this code for the period 20-05-2020 to 30-05-2020 and it returned an empty frame although this person had a tweet posted on 26-05

[code]

[2022-05-29 08:15] heis71 commented on #127
try to set `headless=False`

[2022-05-29 08:17] heis71 commented on #127
try to set `headless=False`

[2022-06-09 02:36] MHketbi opened #129 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
i keep getting this error and i dont know why:

Scraping on headless mode.
Traceback (most recent call last):
  File "C:\Scweet\Example.py", line 34, in <module>
    following = get_users_following(users=users, env=env_path, verbose=0, headless=True, wait=2, limit=50, file_path=".txt")
  File "C:\Scweet\Scweet\user.py", line 112, in get_users_following
    following = utils.get_users_follow(users,

[2022-06-16 18:02] mikecrb30 opened #132 "Different number of tweets for the same query"
Thank you so much for this repository！But I met up with a problem.
I'm running scweet.py with these parameters: --from_account (a valid account) --since 2019-11-01 --until 2020-01-01 --display_type Latest --headless False" but each time I run it I'm getting different number of tweets for each .csv file. I ran it like 10 times and the csv files are totally different each other, the first one has X

[2022-06-20 10:30] KangooCode opened #133 "Login for scraping"
Thanks for the repo, it's a huge help !
However, i'm searching sensitive content for a master degree work, but the code doesn't scrape this type of content if we're not logged in. Is ther a way to push our logs before scraping ?

[2022-06-26 19:44] ZaneH commented on #116
I'm experiencing a similar issue:

[code]

Tried disabling headless mode + waiting for 15 seconds. Looks like I may have a dependency mismatch (using Python 3.7)

[2022-07-11 15:58] Frank-LIU-520 opened #135 "RuntimeError: Failed to download geckodriver archive on Win10"
When I ran `get_users_following(users=['nagouzil'], env=env_path, verbose=0, headless = False, wait=5, file_path='follower/',)` on windows 10 jupyter notebook, it raised this error "RuntimeError: Failed to download geckodriver archive: https://github.com/mozilla/geckodriver/releases/download/v0.31.0/geckodriver-v0.31.0-win32.tar.gz".
However, I already have installed geckodriver with pip install g

[2022-07-25 02:36] maxgodsk opened #136 "Output empty"
Hi, I have been trying the repository but the output is empty (.csv and .ipynb), I tried different configs, and still the same.

.env configured as well

Please assist, thank you!

[2022-08-07 07:14] AndyJi123 opened #137 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
File e:\Anaconda\envs\pytorch\lib\site-packages\Scweet\user.py:99, in get_users_followers(users, env, verbose, headless, wait, limit, file_path)
     98 def get_users_followers(users, env, verbose=1, headless=True, wait=2, limit=float('inf'), file_path=None):
---> 99     followers = utils.get_users_follow(users, headless, env, "followers", verbose, wait=wait, limit=limit)
    101     if file_path

[2022-08-13 12:37] biggestsonicfan opened #138 "Twitter timeline change (again), did this break Scweet?"
Twitter just felt the need to redesign itself again. I am wondering if this might be why I am returning `None` with everything.

Code:
[code]

[2022-08-29 07:08] Frank-LIU-520 commented on #2
Still don't get how to scrape all the information from one account. Could you two please show us an example on the Scrape function?

[2022-09-05 11:19] PaleEntropy opened #139 "chrome guest mode and searching not for a particular word"
Hello!
I'm struggling with 2 issues (probably very stupid ones, I'm sorry in advance).

1. Is it possible to open the outputs not in a guest mode? Twitter is banned in my country, so the reason why I can't see the outputs is probably that I can't turn the VPN service on.

2. Is it possible to search posts without connecting them to a certain word? I tried to use the code without "words=" but there

[2022-10-06 14:19] anjit6 opened #140 "ImportError: attempted relative import with no known parent package"
System:
macOS Monterey (v12.6)
Apple M1
![Screenshot 2022-10-06 at 7 47 50 PM](https://user-images.githubusercontent.com/880660/194337468-780bafd6-a902-473c-9cac-9a387846f3d7.png)

[2022-10-12 17:35] Altimis commented on #116
I'm sorry guys, I haven't had time to update the library lately. Will update it as soon as I find a slot

[2022-10-17 11:44] 91wanhuo opened #142 "Cannot crawl the main information of users who have been confirmed to exist, and returns None each time."
Sir, I just want get the main information of users,but always return None, I even tried different proxies. The users of these tests are all there.
![111](https://user-images.githubusercontent.com/31307900/196168775-19daea6d-e7c3-4207-8ad0-d44b6864f745.png)

[2022-10-26 08:34] PedramMarandi commented on #116
I have been able to fix the issue using this extension on firefox
https://addons.mozilla.org/en-US/firefox/addon/submit-me/

[2022-10-26 14:43] HannesVer commented on #137
Same problem here, anyone that knows a workaround?

[2022-10-27 05:50] Frocean commented on #116
I also have the same attributeError: 'WebDriver' object has no attribute 'find_elements_by_xpath'.
There isn't anything wrong when I use headless=False to check the Google Chrome web (without logging in), but it reports the error after the web closed.

[2022-11-10 08:00] albertxu1 opened #143 "AttributeError: 'WebDriver' object has no attribute 'find_elements_by_xpath'"
I got an error as title said, how can I fix it?

[2022-11-17 10:46] terryso commented on #143
replace
`page_cards = driver.find_elements_by_xpath('//article[@data-testid="tweet"]')`
to
`page_cards = driver.find_elements('//article[@data-testid="tweet"]')`

in utils.py

[2022-11-22 10:17] danielang2020 commented on #112
[have fixed](https://github.com/Altimis/Scweet/pull/144)
To be merged.

[2022-11-23 14:33] passionate11 commented on #140
same problem，have u fixed it？

[2022-11-26 11:07] jasmine465 opened #145 "can't run git? couldn't install"
![image](https://user-images.githubusercontent.com/118726459/204085597-9641ce1b-e102-4eb8-8cc5-219419c5b493.png)